<div class="slideshow-container">
    {% for i in range(0, content.field_slider_item['#items']|length - 1) %}
        <div class="mySlides ">
          <div>{{ content.field_slider_item[i] }}</div>
        </div>
    {% endfor %}


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>