{# Style-ing pt carousel #}
<div class="slider-item">
  <div class="text">
    <div class="title">{{ content.field_slider_title }}</div>
    <div class="CTA" style="--clr:#39FF14">
      <span>{{ content.field_slider_link }}</span><i></i>
    </div>
  </div>
  <div class="slider-image">{{ content.field_slider_image }}</div>
</div>
