<div class="plant-content">
  <div class="plant-image">{{ content.field_plant_image }}</div>
  <div class="plant-details">
    <h1 class="plant-type mb-4 fs-3">{{ content.field_type }}</h1>
    <div class="plant-about">{{ content.field_about_this_plant }}</div>
  </div>
</div>
<div class="plant-other">{{ content.field_other_plants }}</div>
