<div class="plant-content">
  <div class="plant-image">{{ content.field_plant_image }}</div>
  <div class="plant-details">
    <div class="plant-type mb-4 fs-3">{{ content.field_type }}</div>
    <div class="plant-about">{{ content.field_about_this_plant }}</div>
  </div>
</div>
<div>{{ content.field_other_plants }}</div>
