{#
/**
* Header for taxonomy
**/
#}
<div class="taxonomy-plants-containter">
  <div class="taxonomy-plants-image">{{ content.field_image }}</div>
  <div class="taxonomy-plants-centered">
    <div class="img">{{ content.field_logo }}</div>
    <div class="taxonomy-plants-caption">{{ content.field_caption }}</div>
    <div class="taxonomy-plants-title">{{ content.field_title }}</div>
  </div>
</div>
